.navbar.navbar-inner {
    border-bottom: 1px solid #dcdcdc;
    background-color: rgba(37, 39, 44, 0.94);
    box-shadow: 0 2px 2px 0 #c0c0c0;
    margin: 4px;

}

.white{
    color:#000;
    background-color:#fff;
}
